
<app-name-blog></app-name-blog>

<div class="articles">
    <div class="articles-main">
        <app-central-news
        id="1"
        fotoCard="https://www.videogameschronicle.com/files/2023/06/Switch_Pikmin4_Preview_BRoll_SCRN39.jpg"
        tituloCard="Pikmin 4"
        descricaoCard="Pikmin 4 é um jogo eletrônico de estratégia em tempo real desenvolvido pela Nintendo EPD e publicado pela Nintendo. É o quarto jogo principal da série Pikmin, depois de Pikmin 3, e o sexto jogo no geral. Foi lançado no Nintendo Switch em 21 de julho de 2023. Fonte: Wikipédia"
        fotoDescr="Pikmin 4 imagem que vem da review de Video Games Chronicle"
        >
        </app-central-news>
    </div>
    <div class="articles-others">
        <app-small-news 
        id="2"
        fotoCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVW6ISgdBaizjoONi9VsTYMmbl2ngHhDS6peiNn6Kc5OnRBPTzmeFdmxCroZXXU4f2HI4&usqp=CAU" 
        tituloCard="Disney fez o filme elementos inspirado no jogo Fireboy & Watergirl: Elements ?"
        >
        </app-small-news>
        
    </div>
</div>
