
@media screen and (min-width: 2560px) {
    .content-img > img{
        width: 100%;
        min-width: 100vh;
        height: 50vh;
        align-items: center;
    }
    .content-description > p{
        margin: 1% 20% 1% 10%;
    }
}

@media screen and (max-width: 425px) {
    .content-img > img{
        height: 90%;
        align-items: center;
        margin-right: 5%;
    }
    .content-description > p{
        margin: 2% 15% 2% 10%;
    }
}
