.card-label{
    position: absolute;
    bottom: 90px;
    right: 0;
}

.card-label_content{
    background-color: rgb(43, 43, 43);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 14px;
    font-weight: bold;

    height: 8vh;
    padding: 0px 15vh;
}